<h1>When setting up database, do this => rake db:setup</h1>

<h2>Running "rake db:migrate" may</h2>

<ul>
  <li>contain invalid Ruby code</li>
  <li>contain invalid Rails code</li>
  <li>execute migrations that aren't in the correct sequence</li>
  <li>make undesirable changes to your data</li>
</ul>

<h2>Checkout the invalid migration</h2>

<p>
  The migration file '20131218204811_migration_using_case_statement_with_colons.rb' contains syntax that is not compatible with Ruby 1.9.x and above.  Run the following command the root directory.
</p>

<p>
  <code>$ ruby ./db/migrate/20131218204811_migration_using_case_statement_with_colons.rb</code>
</p>

<h2>Setting up the database with "rake db:setup"</h2>

<h3>These commands should run without issue</h3>

<ul>
  <code>
    <li>$ # if you already have a database, run 'bundle exec rake db:drop'</li>
    <li>$ bundle exec rake db:setup</li>
    <li>$ bundle exec rails generate scaffold banana unpeeled:boolean</li>
    <li>$ bundle exec rake db:migrate</li>
  </code>
</ul>

<h2>Now try setting up the datbase using by running the migrations</h2>


<h3>These commands should raise an error</h3>

<ul>
  <code>
    <li>$ # if you already have a database, run 'bundle exec rake db:drop'</li>
    <li>$ bundle exec rake db:create</li>
    <li>$ bundle exec rake db:migrate</li>
  </code>
</ul>
