<h1>When setting up database, dse this => rake db:setup</h1>

<h2>Running "rake db:migrate" may</h2>

<ul>
  <li>contain invalid Ruby code</li>
  <li>contain invalid Rails code</li>
  <li>execute migrations that aren't in the correct sequence</li>
  <li>make undesirable changes to your data</li>
</ul>

<h2>Play wit this app!</h2>

<ul>
  <li>"rake db:setup" should work properly"</li>
  <li>This file should cause "rake db:migrate" to fail => 20131218204811_migration_using_case_statement_with_colons.rb</li>
</ul>
