development:
  adapter: postgresql
  encoding: unicode
  database: hey_look_a_rails_app_development
  pool: 5
  username: hey_look_a_rails_app
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: hey_look_a_rails_app_test
  pool: 5
  username: hey_look_a_rails_app
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: hey_look_a_rails_app_production
  pool: 5
  username: hey_look_a_rails_app
  password:
